In [225]:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 #import basic libraries
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [226]:
#İmport dataset
depression = pd.read_csv("/content/Dataset.csv")
df = depression.copy()
df.head()

,profile,user_id,user_name,tweet_text,retweet_text,like_text
0,https://twitter.com/2curlykitties,1.013187e+09,@2curlykitties,It's just over 2 years since I was diagnosed w...,Just finished a service centre call that didn'...,Just finished a service centre call that didn'...
1,https://twitter.com/2curlykitties,1.013187e+09,@2curlykitties,"It's Sunday, I need a break, so I'm planning t...",RT @CambridgeNewsUK: Man taken to hospital aft...,Just finished a service centre call that didn'...
2,https://twitter.com/2curlykitties,1.013187e+09,@2curlykitties,Awake but tired. I need to sleep but my brain ...,@EONhelp you too! ☀️,@the_candourist glad to see that you survived ...
3,https://twitter.com/2curlykitties,1.013187e+09,@2curlykitties,RT @SewHQ: #Retro bears make perfect gifts and...,"@EONhelp hi, thx. Yes, I found it in the end a...",I’ve just remembered that the new house has r...
4,https://twitter.com/2curlykitties,1.013187e+09,@2curlykitties,It’s hard to say whether packing lists are mak...,"@EONhelp re my last tweet, don't worry, spoke ...",Square 10 / lacy #crochet / pale blue DK yarn ...

# Text Cleaning

In [227]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7354 entries, 0 to 7353
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   profile       7354 non-null   object
 1   user_id       7351 non-null   float64
 2   user_name     7349 non-null   object
 3   tweet_text    7350 non-null   object
 4   retweet_text  7336 non-null   object
 5   like_text     7336 non-null   object
dtypes: float64(1), object(5)
memory usage: 344.8+ KB

In [228]:
df.shape

(7354, 6)

In [229]:
# removing all rows where even 1 rows is null
df.dropna(inplace = True)
df.shape

(7318, 6)

In [230]:
# remove any duplicate text
df.drop_duplicates(inplace=True, subset="tweet_text")
df.drop_duplicates(inplace=True, subset="retweet_text")
df.drop_duplicates(inplace=True, subset="like_text")
df.shape

(6900, 6)

In [231]:
# Keep only the columns I want
df = df.loc[:, ['tweet_text', 'retweet_text', 'like_text']]

# Text Preprocessing

In [232]:
!pip install textblob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: textblob in /usr/local/lib/python3.9/dist-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.9/dist-packages (from textblob) (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from nltk>=3.1->textblob) (8.1.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from nltk>=3.1->textblob) (1.1.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from nltk>=3.1->textblob) (4.65.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.9/dist-packages (from nltk>=3.1->textblob) (2022.10.31)

In [233]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.9/dist-packages (3.8.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from nltk) (1.1.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.9/dist-packages (from nltk) (2022.10.31)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from nltk) (8.1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from nltk) (4.65.0)

In [234]:
from nltk.corpus import stopwords
from textblob import TextBlob
from textblob import Word

columns = ['tweet_text', 'retweet_text', 'like_text'] #all column which need pre-processing will be here in this list

In [235]:
#Convert to lowercase
#df[['tweet_text', 'retweet_text', 'like_text']] = df[['tweet_text', 'retweet_text', 'like_text']].apply(lambda x: x.str.lower())
for col in columns:
    df[col] = df[col].apply(lambda x: " ".join(x.lower() for x in x.split()))

df.head()

,tweet_text,retweet_text,like_text
0,it's just over 2 years since i was diagnosed w...,just finished a service centre call that didn'...,just finished a service centre call that didn'...
2,awake but tired. i need to sleep but my brain ...,@eonhelp you too! ☀️,@the_candourist glad to see that you survived ...
3,rt @sewhq: #retro bears make perfect gifts and...,"@eonhelp hi, thx. yes, i found it in the end a...",i’ve just remembered that the new house has ra...
4,it’s hard to say whether packing lists are mak...,"@eonhelp re my last tweet, don't worry, spoke ...",square 10 / lacy #crochet / pale blue dk yarn ...
5,making packing lists is my new hobby... #movin...,"@eonhelp hi, i'm trying to find a number to ph...",9 squares made #crochet #crocheting http://t.c...

In [236]:
# Removing numerical values
#df[['tweet_text', 'retweet_text', 'like_text']] = df[['tweet_text', 'retweet_text', 'like_text']].replace('\d+', '', regex=True)
for col in columns:
    df[col] = df[col].replace('\d+', '', regex=True)

df.head()

,tweet_text,retweet_text,like_text
0,it's just over years since i was diagnosed wi...,just finished a service centre call that didn'...,just finished a service centre call that didn'...
2,awake but tired. i need to sleep but my brain ...,@eonhelp you too! ☀️,@the_candourist glad to see that you survived ...
3,rt @sewhq: #retro bears make perfect gifts and...,"@eonhelp hi, thx. yes, i found it in the end a...",i’ve just remembered that the new house has ra...
4,it’s hard to say whether packing lists are mak...,"@eonhelp re my last tweet, don't worry, spoke ...",square / lacy #crochet / pale blue dk yarn #c...
5,making packing lists is my new hobby... #movin...,"@eonhelp hi, i'm trying to find a number to ph...",squares made #crochet #crocheting http://t.co...

In [237]:
# Removing punctations
#df[['tweet_text', 'retweet_text', 'like_text']] = df[['tweet_text', 'retweet_text', 'like_text']].replace("[^\w\s]", " ", regex=True)

for col in columns:
    df[col] = df[col].str.replace("[^\w\s]"," ", regex=True)
    df[col] = df[col].str.replace(r"(\x23.* )+", " ", regex=True)

df.head()

,tweet_text,retweet_text,like_text
0,it s just over years since i was diagnosed wi...,just finished a service centre call that didn ...,just finished a service centre call that didn ...
2,awake but tired i need to sleep but my brain ...,eonhelp you too,the_candourist glad to see that you survived ...
3,rt sewhq retro bears make perfect gifts and...,eonhelp hi thx yes i found it in the end a...,i ve just remembered that the new house has ra...
4,it s hard to say whether packing lists are mak...,eonhelp re my last tweet don t worry spoke ...,square lacy crochet pale blue dk yarn c...
5,making packing lists is my new hobby movin...,eonhelp hi i m trying to find a number to ph...,squares made crochet crocheting http t co...

In [238]:
# Removing remaining punctations

#df[['tweet_text', 'retweet_text', 'like_text']] = df[['tweet_text', 'retweet_text', 'like_text']].replace('_, __, :, "', " " , regex=True)

for col in columns:
    df[col] = df[col].str.replace('_, __, :, "', " " , regex=True)

df.head()

,tweet_text,retweet_text,like_text
0,it s just over years since i was diagnosed wi...,just finished a service centre call that didn ...,just finished a service centre call that didn ...
2,awake but tired i need to sleep but my brain ...,eonhelp you too,the_candourist glad to see that you survived ...
3,rt sewhq retro bears make perfect gifts and...,eonhelp hi thx yes i found it in the end a...,i ve just remembered that the new house has ra...
4,it s hard to say whether packing lists are mak...,eonhelp re my last tweet don t worry spoke ...,square lacy crochet pale blue dk yarn c...
5,making packing lists is my new hobby movin...,eonhelp hi i m trying to find a number to ph...,squares made crochet crocheting http t co...

In [239]:
# Removing double space

#df[['tweet_text', 'retweet_text', 'like_text']] = df[['tweet_text', 'retweet_text', 'like_text']].replace("\s+", " ", regex=True)

for col in columns:
    df[col] = df[col].str.replace("\s+", " ", regex=True)

df.head()

,tweet_text,retweet_text,like_text
0,it s just over years since i was diagnosed wit...,just finished a service centre call that didn ...,just finished a service centre call that didn ...
2,awake but tired i need to sleep but my brain h...,eonhelp you too,the_candourist glad to see that you survived ...
3,rt sewhq retro bears make perfect gifts and ar...,eonhelp hi thx yes i found it in the end and ...,i ve just remembered that the new house has ra...
4,it s hard to say whether packing lists are mak...,eonhelp re my last tweet don t worry spoke to...,square lacy crochet pale blue dk yarn crocheti...
5,making packing lists is my new hobby movinghouse,eonhelp hi i m trying to find a number to pho...,squares made crochet crocheting http t co mro...

In [240]:
# Removing users

#df[['tweet_text', 'retweet_text', 'like_text']] = df[['tweet_text', 'retweet_text', 'like_text']].replace("(@[A-Za-z]+[A-Za-z0-9-_]+)", " ", regex=True)

for col in columns:
    #df[col] = df[col].str.replace('rt', ' ', regex=True) # remove retweet
    df[col] = df[col].str.replace('(@[A-Za-z]+[A-Za-z0-9-_]+)', ' ', regex=True) #remove twitted at

df.head()

,tweet_text,retweet_text,like_text
0,it s just over years since i was diagnosed wit...,just finished a service centre call that didn ...,just finished a service centre call that didn ...
2,awake but tired i need to sleep but my brain h...,eonhelp you too,the_candourist glad to see that you survived ...
3,rt sewhq retro bears make perfect gifts and ar...,eonhelp hi thx yes i found it in the end and ...,i ve just remembered that the new house has ra...
4,it s hard to say whether packing lists are mak...,eonhelp re my last tweet don t worry spoke to...,square lacy crochet pale blue dk yarn crocheti...
5,making packing lists is my new hobby movinghouse,eonhelp hi i m trying to find a number to pho...,squares made crochet crocheting http t co mro...

In [241]:
# Removing links

#df[['tweet_text', 'retweet_text', 'like_text']] = df[['tweet_text', 'retweet_text', 'like_text']].replace("http\S+", " ", regex=True)


for col in columns:
    df[col] = df[col].str.replace('http\S+', ' ', regex=True)

df.head()

,tweet_text,retweet_text,like_text
0,it s just over years since i was diagnosed wit...,just finished a service centre call that didn ...,just finished a service centre call that didn ...
2,awake but tired i need to sleep but my brain h...,eonhelp you too,the_candourist glad to see that you survived ...
3,rt sewhq retro bears make perfect gifts and ar...,eonhelp hi thx yes i found it in the end and ...,i ve just remembered that the new house has ra...
4,it s hard to say whether packing lists are mak...,eonhelp re my last tweet don t worry spoke to...,square lacy crochet pale blue dk yarn crocheti...
5,making packing lists is my new hobby movinghouse,eonhelp hi i m trying to find a number to pho...,squares made crochet crocheting http t co mro...

In [242]:
# eliminate unimportant words like is a the...
# STOPWORDS

import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords
sw = stopwords.words("english")

for col in columns:
    df[col] = df[col].apply(lambda x: "  ".join(x for x in x.split() if x not in sw))

df.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,tweet_text,retweet_text,like_text
0,years since diagnosed anxiety depression ...,finished service centre call make want c...,finished service centre call make want c...
2,awake tired need sleep brain ideas,eonhelp,the_candourist glad see survived brutality...
3,rt sewhq retro bears make perfect gifts ...,eonhelp hi thx yes found end spoke nice...,remembered new house range cooker whoop ...
4,hard say whether packing lists making li...,eonhelp last tweet worry spoke v helpful...,square lacy crochet pale blue dk yarn c...
5,making packing lists new hobby movinghouse,eonhelp hi trying find number phone new ...,squares made crochet crocheting http co ...

In [243]:
#Removing small words which are less than given condition

for col in columns:
    df[col] = df[col].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))

df.head()

,tweet_text,retweet_text,like_text
0,years since diagnosed anxiety depression today...,finished service centre call make want punch s...,finished service centre call make want punch s...
2,awake tired need sleep brain ideas,eonhelp,the_candourist glad survived brutality desert ...
3,sewhq retro bears make perfect gifts great beg...,eonhelp found spoke nice helpful young lady so...,remembered house range cooker whoop looking fo...
4,hard whether packing lists making life easier ...,eonhelp last tweet worry spoke helpful young l...,square lacy crochet pale blue yarn crocheting ...
5,making packing lists hobby movinghouse,eonhelp trying find number phone account find ...,squares made crochet crocheting http mromykmta

In [244]:
#Stemming
import nltk
from nltk.stem import SnowballStemmer
stemmer = SnowballStemmer("english")

# Apply stemming to all columns in the list
#for col in columns:
    #df[col] = df[col].apply(lambda x: ' '.join([stemmer.stem(word) for word in x.split()]))

#df.head()

In [245]:
# Lemmatization (forgot converted into forget)
#from nltk.stem.wordnet import WordNetLemmatizer

from textblob import Word
nltk.download("wordnet")
nltk.download("omw-1.4")

for col in columns:
    df[col] = df[col].apply(lambda x: " ".join([Word(x).lemmatize()]))

df.head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

,tweet_text,retweet_text,like_text
0,years since diagnosed anxiety depression today...,finished service centre call make want punch s...,finished service centre call make want punch s...
2,awake tired need sleep brain ideas,eonhelp,the_candourist glad survived brutality desert ...
3,sewhq retro bears make perfect gifts great beg...,eonhelp found spoke nice helpful young lady so...,remembered house range cooker whoop looking fo...
4,hard whether packing lists making life easier ...,eonhelp last tweet worry spoke helpful young l...,square lacy crochet pale blue yarn crocheting ...
5,making packing lists hobby movinghouse,eonhelp trying find number phone account find ...,squares made crochet crocheting http mromykmta

In [246]:
# Word Tokenization

import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

df["tokens_tweet"] = df["tweet_text"].apply(lambda x: TextBlob(x).words)
df["tokens_retweet"] = df["retweet_text"].apply(lambda x: TextBlob(x).words)
df["tokens_like"] = df["like_text"].apply(lambda x: TextBlob(x).words)

df.head()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,tweet_text,retweet_text,like_text,tokens_tweet,tokens_retweet,tokens_like
0,years since diagnosed anxiety depression today...,finished service centre call make want punch s...,finished service centre call make want punch s...,"[years, since, diagnosed, anxiety, depression,...","[finished, service, centre, call, make, want, ...","[finished, service, centre, call, make, want, ..."
2,awake tired need sleep brain ideas,eonhelp,the_candourist glad survived brutality desert ...,"[awake, tired, need, sleep, brain, ideas]",[eonhelp],"[the_candourist, glad, survived, brutality, de..."
3,sewhq retro bears make perfect gifts great beg...,eonhelp found spoke nice helpful young lady so...,remembered house range cooker whoop looking fo...,"[sewhq, retro, bears, make, perfect, gifts, gr...","[eonhelp, found, spoke, nice, helpful, young, ...","[remembered, house, range, cooker, whoop, look..."
4,hard whether packing lists making life easier ...,eonhelp last tweet worry spoke helpful young l...,square lacy crochet pale blue yarn crocheting ...,"[hard, whether, packing, lists, making, life, ...","[eonhelp, last, tweet, worry, spoke, helpful, ...","[square, lacy, crochet, pale, blue, yarn, croc..."
5,making packing lists hobby movinghouse,eonhelp trying find number phone account find ...,squares made crochet crocheting http mromykmta,"[making, packing, lists, hobby, movinghouse]","[eonhelp, trying, find, number, phone, account...","[squares, made, crochet, crocheting, http, mro..."

In [247]:
# Frequency Analysis

df["frequency_tweet"] = df["tweet_text"].apply(lambda x: len(str(x).split(" "))) 
df["frequency_retweet"] = df["retweet_text"].apply(lambda x: len(str(x).split(" "))) 
df["frequency_like"] = df["like_text"].apply(lambda x: len(str(x).split(" "))) 

df.head()

,tweet_text,retweet_text,like_text,tokens_tweet,tokens_retweet,tokens_like,frequency_tweet,frequency_retweet,frequency_like
0,years since diagnosed anxiety depression today...,finished service centre call make want punch s...,finished service centre call make want punch s...,"[years, since, diagnosed, anxiety, depression,...","[finished, service, centre, call, make, want, ...","[finished, service, centre, call, make, want, ...",11,10,10
2,awake tired need sleep brain ideas,eonhelp,the_candourist glad survived brutality desert ...,"[awake, tired, need, sleep, brain, ideas]",[eonhelp],"[the_candourist, glad, survived, brutality, de...",6,1,8
3,sewhq retro bears make perfect gifts great beg...,eonhelp found spoke nice helpful young lady so...,remembered house range cooker whoop looking fo...,"[sewhq, retro, bears, make, perfect, gifts, gr...","[eonhelp, found, spoke, nice, helpful, young, ...","[remembered, house, range, cooker, whoop, look...",12,8,9
4,hard whether packing lists making life easier ...,eonhelp last tweet worry spoke helpful young l...,square lacy crochet pale blue yarn crocheting ...,"[hard, whether, packing, lists, making, life, ...","[eonhelp, last, tweet, worry, spoke, helpful, ...","[square, lacy, crochet, pale, blue, yarn, croc...",13,9,10
5,making packing lists hobby movinghouse,eonhelp trying find number phone account find ...,squares made crochet crocheting http mromykmta,"[making, packing, lists, hobby, movinghouse]","[eonhelp, trying, find, number, phone, account...","[squares, made, crochet, crocheting, http, mro...",5,9,6

In [248]:
# Shuffle dataset
df=df.sample(frac = 1)

In [249]:
df.head()

,tweet_text,retweet_text,like_text,tokens_tweet,tokens_retweet,tokens_like,frequency_tweet,frequency_retweet,frequency_like
2617,iight boys flip switch overdrive romo hurting ...,fuck waste talent waste opportunity niggas,money thing every church,"[iight, boys, flip, switch, overdrive, romo, h...","[fuck, waste, talent, waste, opportunity, niggas]","[money, thing, every, church]",10,6,4
3173,violtbaudelaire real talk everyone fucking pro...,iriswestaiin gasjajsjsjs funny everytime,xobeiiamy looks good fickfjd ksfsiruaqn,"[violtbaudelaire, real, talk, everyone, fuckin...","[iriswestaiin, gasjajsjsjs, funny, everytime]","[xobeiiamy, looks, good, fickfjd, ksfsiruaqn]",11,4,5
235,struggling parenting teen ocfvmjyuqp,parenting childhood trauma http rwkeukkfua,stevoptweets made night much better wish true,"[struggling, parenting, teen, ocfvmjyuqp]","[parenting, childhood, trauma, http, rwkeukkfua]","[stevoptweets, made, night, much, better, wish...",4,5,7
1516,think agree help think views challenged debate...,forbeshealth please listen jenny mccarthy opin...,richardbranson growing community supporting de...,"[think, agree, help, think, views, challenged,...","[forbeshealth, please, listen, jenny, mccarthy...","[richardbranson, growing, community, supportin...",8,10,9
6527,look found corolla memories mistahfab damn nea...,almost pick first five minutes second half,shit barely bigger ipad shit screen ratio damn...,"[look, found, corolla, memories, mistahfab, da...","[almost, pick, first, five, minutes, second, h...","[shit, barely, bigger, ipad, shit, screen, rat...",10,7,10

In [250]:
# Create a new DataFrame and add rows of all three columns to the first column
df = pd.DataFrame({'text': df['tweet_text'].tolist() + df['retweet_text'].tolist() + df['like_text'].tolist()})

In [251]:
df

                                                    text
0      iight boys flip switch overdrive romo hurting ...
1      violtbaudelaire real talk everyone fucking pro...
2                   struggling parenting teen ocfvmjyuqp
3      think agree help think views challenged debate...
4      look found corolla memories mistahfab damn nea...
...                                                  ...
20695    theyâ copied nazis ancestors paste palestinians
20696  crooksandliars nikita said soviets would conqu...
20697                                  gaj_ going heaven
20698             amandary sooo welcome really need talk
20699  lydiaschiavello sucking gamblebreaux rhomelbel...

[20700 rows x 1 columns]

In [252]:
# removing all rows where even 1 rows is null
df.dropna(inplace = True)
df.shape

(20700, 1)

#Polarization

i want you to modify the above code and calculate sentiment score for positive, negative, and neutral then take the negative and make the range to indicate level of negativity such as highly, slightly and lightly negative then use k-means clustering with bert and elbow and silhoutte and max-iteration to cluster the negative tweet according to sentiment range level such as level highly negative clusters, slightly negative clusters and lightly negative clusters. then display thoes clusters with the index tweet and cluster number

In [253]:
import nltk
nltk.downloader.download('vader_lexicon')
from nltk.sentiment import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

positive_words_tweet = []
negative_words_tweet = []
neutral_words_tweet = []

positive_sentiment_score = 0
negative_sentiment_score = 0
neutral_sentiment_score = 0



for index, row in df.iterrows():
    tweet = row['text']
   
    
    # Sentiment analysis for tweet_text column
    scores_tweet = sia.polarity_scores(tweet)
    df.at[index, 'tweet_positive_score'] = scores_tweet['pos']
    df.at[index, 'tweet_negative_score'] = scores_tweet['neg']
    df.at[index, 'tweet_neutral_score'] = scores_tweet['neu']
    
    if scores_tweet['compound'] > 0.1:
        df.at[index, 'tweet_sentiment'] = 'positive'
        positive_sentiment_score += 1
        positive_words_tweet.extend(tweet.split())

    elif scores_tweet['compound'] < -0.1:
        df.at[index, 'tweet_sentiment'] = 'negative'
        negative_sentiment_score += 1
        negative_words_tweet.extend(tweet.split())
        
    else:
        df.at[index, 'tweet_sentiment'] = 'neutral'
        neutral_sentiment_score += 1
        neutral_words_tweet.extend(tweet.split())
    
   

# Preprocessing the bag of words for all sentiments
positive_words_tweet = [word.lower() for word in positive_words_tweet if word.isalpha()]
negative_words_tweet = [word.lower() for word in negative_words_tweet if word.isalpha()]
neutral_words_tweet = [word.lower() for word in neutral_words_tweet if word.isalpha()]

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [254]:
df.head(35)

,text,tweet_positive_score,tweet_negative_score,tweet_neutral_score,tweet_sentiment
0,iight boys flip switch overdrive romo hurting ...,0.000,0.407,0.593,negative
1,violtbaudelaire real talk everyone fucking pro...,0.000,0.242,0.758,negative
2,struggling parenting teen ocfvmjyuqp,0.000,0.483,0.517,negative
3,think agree help think views challenged debate...,0.448,0.121,0.431,positive
4,look found corolla memories mistahfab damn nea...,0.000,0.231,0.769,negative
5,hot_cocoa_____ counterattack,0.000,0.000,1.000,neutral
6,want year retro iprlgnltqn,0.302,0.000,0.698,neutral
7,user aufaitfincare ibwbsygi,0.000,0.000,1.000,neutral
8,mostrequestlive mostrequestlive onairromeo ple...,0.402,0.000,0.598,positive
9,stopping refugees boats must come legal routes...,0.166,0.059,0.775,positive
10,cameronhoodkin tell mbti type know real,0.000,0.000,1.000,neutral
11,pastenial thats said,0.000,0.000,1.000,neutral
12,baneandlewis domsherwood sarah_hyland cute ins...,0.273,0.000,0.727,positive
13,really fucked give,0.000,0.701,0.299,negative
14,foxnews mika uncontrolled outrage telling prei...,0.134,0.435,0.430,negative
15,kyliebunbury still heart thank appreciate much...,0.510,0.000,0.490,positive
16,fact michaelsos laugh adorable thing ever gmwj...,0.576,0.000,0.424,positive
17,government stand whatâ wrong stand roof ends s...,0.081,0.157,0.761,negative
18,means dream squat palestine murder palestinians,0.187,0.439,0.374,negative
19,irish people plantation need stop pleading rac...,0.082,0.380,0.538,negative
20,calcalhughes,0.000,0.000,1.000,neutral
21,person either gone completely insane bought je...,0.138,0.236,0.627,negative
22,pakistan country women beaten beaten islamabad...,0.000,0.162,0.838,negative
23,harken back harken back trump mocked great pre...,0.241,0.288,0.471,neutral
24,given flat rent woman want really filed crimin...,0.176,0.162,0.661,negative
25,official heyeverybodymusicvideo cure,0.000,0.000,1.000,neutral
26,dynamik internet marketing trnvixc,0.000,0.000,1.000,neutral
27,soft_homura feel like would post homura confes...,0.238,0.000,0.762,positive
28,lhship modest billboard guess still believe la...,0.270,0.000,0.730,positive
29,must read thread azamkhanswatipk addressing ba...,0.000,0.134,0.866,negative
30,exxon drilling option world wide russia sancti...,0.000,0.137,0.863,negative
31,cameronhoodkin discourse tonight work,0.000,0.000,1.000,neutral
32,staziz happy birthday good,0.767,0.000,0.233,positive
33,relatablequote shops turkey letting stray dogs...,0.276,0.000,0.724,positive
34,imalexholtti follow,0.000,0.000,1.000,neutral

In [255]:
print("Total Positive Sentiment Score:", positive_sentiment_score)
print("Total Negative Sentiment Score:", negative_sentiment_score)
print("Total Neutral Sentiment Score:", neutral_sentiment_score)

Total Positive Sentiment Score: 7418
Total Negative Sentiment Score: 5313
Total Neutral Sentiment Score: 7969

In [256]:
from nltk.probability import FreqDist

positive_freq_dist_tweet = FreqDist(positive_words_tweet)
negative_freq_dist_tweet = FreqDist(negative_words_tweet)
neutral_freq_dist_tweet = FreqDist(neutral_words_tweet)

print('Most common positive words for tweets:')
print(positive_freq_dist_tweet.most_common(50))
print()

print('Most common negative words for tweets:')
print(negative_freq_dist_tweet.most_common(50))
print()

print('Most common neutral words for tweets:')
print(neutral_freq_dist_tweet.most_common(50))

Most common positive words for tweets:
[('like', 797), ('http', 684), ('love', 577), ('thank', 435), ('good', 403), ('people', 384), ('happy', 284), ('twitter', 283), ('best', 260), ('know', 240), ('much', 231), ('thanks', 228), ('following', 216), ('please', 215), ('today', 215), ('well', 213), ('time', 203), ('help', 201), ('make', 195), ('great', 193), ('would', 187), ('want', 183), ('life', 182), ('think', 181), ('hello', 181), ('hope', 180), ('better', 179), ('really', 178), ('need', 172), ('year', 163), ('never', 157), ('still', 156), ('follow', 149), ('rights', 148), ('right', 147), ('friends', 138), ('feel', 131), ('trump', 130), ('world', 128), ('look', 127), ('work', 127), ('friend', 126), ('positive', 124), ('ever', 123), ('even', 121), ('always', 121), ('anytime', 121), ('human', 118), ('everyone', 117), ('also', 116)]

Most common negative words for tweets:
[('http', 450), ('people', 412), ('like', 207), ('stop', 202), ('know', 179), ('women', 168), ('trump', 166), ('shit', 165), ('today', 162), ('pakistan', 159), ('right', 155), ('even', 150), ('time', 148), ('hate', 147), ('depression', 145), ('police', 141), ('fuck', 137), ('rights', 135), ('would', 135), ('israel', 130), ('need', 121), ('israeli', 121), ('killed', 121), ('think', 121), ('many', 120), ('still', 120), ('human', 119), ('palestinian', 117), ('violence', 116), ('life', 115), ('going', 113), ('never', 112), ('realdonaldtrump', 108), ('world', 106), ('also', 106), ('every', 102), ('much', 101), ('back', 101), ('death', 100), ('news', 100), ('want', 96), ('years', 96), ('year', 95), ('government', 91), ('palestinians', 91), ('khan', 91), ('wrong', 90), ('hell', 90), ('last', 90), ('really', 86)]

Most common neutral words for tweets:
[('http', 812), ('user', 494), ('know', 212), ('people', 197), ('yong', 147), ('time', 147), ('genevieveverso', 146), ('misslusyd', 145), ('need', 139), ('trump', 129), ('want', 122), ('think', 118), ('today', 116), ('still', 113), ('right', 113), ('never', 107), ('back', 103), ('life', 103), ('much', 101), ('would', 99), ('make', 96), ('thefuxedos', 94), ('first', 89), ('even', 88), ('year', 87), ('cameronhoodkin', 83), ('really', 80), ('someone', 79), ('going', 76), ('also', 74), ('realdonaldtrump', 74), ('actually', 74), ('mnwild', 74), ('game', 73), ('gonna', 71), ('wait', 71), ('years', 70), ('last', 69), ('azarkansero', 68), ('watch', 67), ('take', 65), ('like', 64), ('come', 64), ('work', 63), ('things', 63), ('since', 62), ('tauril', 61), ('wearepayting', 61), ('foryong', 61), ('world', 60)]

In [257]:
#df.to_csv('new_file.csv', index=False)

In [258]:
# Create a new DataFrame with only the negative tweets and their negative scores
negative_df = df.loc[df['tweet_sentiment'] == 'negative', ['text', 'tweet_negative_score']]

# Rename the columns in the new DataFrame
negative_df.columns = ['Negative Tweet', 'Negative Score']

In [259]:
negative_df.head()

                                       Negative Tweet  Negative Score
0   iight boys flip switch overdrive romo hurting ...           0.407
1   violtbaudelaire real talk everyone fucking pro...           0.242
2                struggling parenting teen ocfvmjyuqp           0.483
4   look found corolla memories mistahfab damn nea...           0.231
13                                 really fucked give           0.701

In [260]:
# Define a function to map the negative scores to categories
def get_depression_level(score):
    if score > 0.65:
        return 'Highly Depressed'
    elif score > 0.3:
        return 'Slightly Depressed'
    else:
        return 'Lightly Depressed'

# Apply the function to the Negative Score column
negative_df['Depression Level'] = negative_df['Negative Score'].apply(get_depression_level)

In [261]:
# Count the number of tweets in each category
depression_count = negative_df['Depression Level'].value_counts()

# Print the results
print("Highly Depressed Tweets: ", depression_count['Highly Depressed'])
print("Slightly Depressed Tweets: ", depression_count['Slightly Depressed'])
print("Lightly Depressed Tweets: ", depression_count['Lightly Depressed'])

Highly Depressed Tweets:  414
Slightly Depressed Tweets:  3166
Lightly Depressed Tweets:  1733

In [262]:
negative_df.head()

,Negative Tweet,Negative Score,Depression Level
0,iight boys flip switch overdrive romo hurting ...,0.407,Slightly Depressed
1,violtbaudelaire real talk everyone fucking pro...,0.242,Lightly Depressed
2,struggling parenting teen ocfvmjyuqp,0.483,Slightly Depressed
4,look found corolla memories mistahfab damn nea...,0.231,Lightly Depressed
13,really fucked give,0.701,Highly Depressed

In [263]:
negative_df.to_csv('new_file.csv', index=False)

# K-means Clustering

In [264]:
#K-means implementation
import numpy as np
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.feature_extraction.text import CountVectorizer

In [265]:
# Create bag of words matrix
vectorizer = CountVectorizer(stop_words='english')
X = vectorizer.fit_transform(negative_df['Negative Tweet'].values)

In [266]:
# Dimensionality reduction with PCA
pca = PCA(n_components=2, random_state=42)
X_pca = pca.fit_transform(X.toarray())

In [267]:
# Perform k-means clustering
kmeans = KMeans(n_clusters=3, max_iter=100, random_state=42, verbose=True)
kmeans.fit(X_pca)

/usr/local/lib/python3.9/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

Initialization complete
Iteration 0, inertia 150.6801967338157.
Iteration 1, inertia 134.73344031590224.
Converged at iteration 1: center shift 2.7840607353695094e-06 within tolerance 9.466621098863979e-06.
Initialization complete
Iteration 0, inertia 151.63071511364825.
Iteration 1, inertia 134.73344031590224.
Converged at iteration 1: center shift 2.7840607353695094e-06 within tolerance 9.466621098863979e-06.
Initialization complete
Iteration 0, inertia 146.821049208325.
Iteration 1, inertia 134.75311364155863.
Iteration 2, inertia 134.73236992165448.
Converged at iteration 2: strict convergence.
Initialization complete
Iteration 0, inertia 388.46977054539025.
Iteration 1, inertia 151.41008739905362.
Iteration 2, inertia 134.81677237011928.
Iteration 3, inertia 134.75270474435598.
Iteration 4, inertia 134.73236992165448.
Converged at iteration 4: strict convergence.
Initialization complete
Iteration 0, inertia 150.75076121411922.
Iteration 1, inertia 134.7550767513368.
Iteration 2, inertia 134.73236992165448.
Converged at iteration 2: strict convergence.
Initialization complete
Iteration 0, inertia 143.5307352285305.
Iteration 1, inertia 134.80054350148322.
Iteration 2, inertia 134.75270474435598.
Iteration 3, inertia 134.73236992165448.
Converged at iteration 3: strict convergence.
Initialization complete
Iteration 0, inertia 167.34975330184218.
Iteration 1, inertia 134.80526716281528.
Iteration 2, inertia 134.75270474435598.
Iteration 3, inertia 134.73236992165448.
Converged at iteration 3: strict convergence.
Initialization complete
Iteration 0, inertia 167.54538480675336.
Iteration 1, inertia 134.75973848907853.
Iteration 2, inertia 134.73236992165448.
Converged at iteration 2: strict convergence.
Initialization complete
Iteration 0, inertia 146.00136586044334.
Iteration 1, inertia 134.80054350148322.
Iteration 2, inertia 134.75270474435598.
Iteration 3, inertia 134.73236992165448.
Converged at iteration 3: strict convergence.
Initialization complete
Iteration 0, inertia 149.4551130253737.
Iteration 1, inertia 134.7695870912415.
Iteration 2, inertia 134.73236992165448.
Converged at iteration 2: strict convergence.

KMeans(max_iter=100, n_clusters=3, random_state=42, verbose=True)

In [268]:
# Check the convergence of the centroids
print(kmeans.cluster_centers_)

[[ 0.76734842  0.70136606]
 [ 0.00778575 -0.11720877]
 [-0.74717221  0.66180344]]

In [269]:
# Assign cluster labels to original data
negative_df['cluster_label'] = kmeans.labels_

In [270]:
# Get indices of tweets in each cluster
cluster0_indices = negative_df[(negative_df['cluster_label'] == 0) & (negative_df['Depression Level'] == 'Highly Depressed')].index.tolist()
cluster1_indices = negative_df[(negative_df['cluster_label'] == 1) & (negative_df['Depression Level'] == 'Slightly Depressed')].index.tolist()
cluster2_indices = negative_df[(negative_df['cluster_label'] == 2) & (negative_df['Depression Level'] == 'Lightly Depressed')].index.tolist()

In [271]:
# Display 10 rows of each cluster with index numbers
print('Cluster 0 (Highly Depressed):\n', negative_df.loc[cluster0_indices][:10])
print('Cluster 1 (Slightly Depressed):\n', negative_df.loc[cluster1_indices][:10])
print('Cluster 2 (Lightly Depressed):\n', negative_df.loc[cluster2_indices][:10])

Cluster 0 (Highly Depressed):
                                           Negative Tweet  Negative Score  \
208    ohmystass people shit piss shocked pissed wron...           0.841
2606   witch strange logic thinks pakistani people st...           0.658
5668              thatssarcasm hate disappointing people           0.775
6947   breaking horrific loss damage million people d...           0.694
7168   insidious people injured people world even dro...           0.672
8658   michaelsos stop giving many fucks people shit ...           0.727
9506   witch strange logic thinks pakistani people st...           0.658
9801           awful news turkey poor people heart hurts           0.697
12300  thieves hypocritical treacherous people neithe...           0.662
17905                                        hate people           0.787

       Depression Level  cluster_label
208    Highly Depressed              0
2606   Highly Depressed              0
5668   Highly Depressed              0
6947   Highly Depressed              0
7168   Highly Depressed              0
8658   Highly Depressed              0
9506   Highly Depressed              0
9801   Highly Depressed              0
12300  Highly Depressed              0
17905  Highly Depressed              0
Cluster 1 (Slightly Depressed):
                                        Negative Tweet  Negative Score  \
0   iight boys flip switch overdrive romo hurting ...           0.407
2                struggling parenting teen ocfvmjyuqp           0.483
14  foxnews mika uncontrolled outrage telling prei...           0.435
18    means dream squat palestine murder palestinians           0.439
37  toyota responded trump ridiculous twitter thre...           0.371
42  youtu bmofovys general asim munir coas appoint...           0.387
43    canadian_taylor hate accounting everything else           0.481
66                   another counter anxiety rxifodlu           0.362
67  camerondallas diagnosed depression anxiety lik...           0.495
69  navalnyâ oscar moment spotlights russian gover...           0.412

      Depression Level  cluster_label
0   Slightly Depressed              1
2   Slightly Depressed              1
14  Slightly Depressed              1
18  Slightly Depressed              1
37  Slightly Depressed              1
42  Slightly Depressed              1
43  Slightly Depressed              1
66  Slightly Depressed              1
67  Slightly Depressed              1
69  Slightly Depressed              1
Cluster 2 (Lightly Depressed):
                                          Negative Tweet  Negative Score  \
202   check alone mental health mobile communication...           0.154
301   southsudan human rights chief volker_turk deep...           0.273
316   vinylarm serotonin brain could lead better tar...           0.210
1253  human rights chief volker_turk calls govts tak...           0.179
1257  human rights chief volker_turk urges govts kee...           0.222
1383  eritrea deputy human rights chief nadanashif h...           0.249
2026      hydrocodo apap make anyone nervous http sqxem           0.259
2045  replying ajenglish woman children killed russi...           0.184
2075  brightonargus diversion route likely remain pl...           0.197
2344  path respond crises extreme poverty time learn...           0.125

       Depression Level  cluster_label
202   Lightly Depressed              2
301   Lightly Depressed              2
316   Lightly Depressed              2
1253  Lightly Depressed              2
1257  Lightly Depressed              2
1383  Lightly Depressed              2
2026  Lightly Depressed              2
2045  Lightly Depressed              2
2075  Lightly Depressed              2
2344  Lightly Depressed              2

i have i twitter dataset of text, i re-processed it, then apply polarization. then i keep negative polaization and ignore positive and neutral. then i categorized negative tweet into above 65% Highly Depressed, above 35% Slightly depressed and below 35% Lightly Depressed then i apply k-means to group Highly Depressed into cluster 0, Slightly depressed into cluster 1 and Lightly Depressed into cluster 2 . Now i want do testing with real twitter tweet. I want to apply api to access tweets of twitter user then want to apply all traning steps but i don't know how

# Testing

In [272]:
!pip install snscrape
import datetime
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Define the Twitter username you want to scrape
username = "@w_t__w" # replace with the username you want to scrape

# Define the date range for scraping tweets
end_date = datetime.date.today() # current date
start_date = end_date - datetime.timedelta(days=90) # 3 months back

# Define the list to store tweets
tweets_list = []

# Loop through each tweet using snscrape
for i, tweet in enumerate(sntwitter.TwitterSearchScraper(f"from:{username} since:{start_date} until:{end_date}").get_items()):
    tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.url])
    
# Create DataFrame from list of tweets
tweets_df = pd.DataFrame(tweets_list, columns=['Datetime', 'Tweet Id', 'Text', 'URL'])

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: snscrape in /usr/local/lib/python3.9/dist-packages (0.6.2.20230320)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.9/dist-packages (from snscrape) (2.27.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from snscrape) (4.11.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from snscrape) (3.10.7)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from snscrape) (4.9.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->snscrape) (2.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (2022.12.7)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.9/dist-packages (from requests[socks]->snscrape) (1.7.1)

<ipython-input-272-f10ad737dd5d>:18: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.date, tweet.id, tweet.content, tweet.url])

In [273]:
# Print the DataFrame to the output
tweets_df.head()

,Datetime,Tweet Id,Text,URL
0,2023-03-30 16:14:22+00:00,1641473954299748354,this feels pointless,https://twitter.com/w_t__w/status/164147395429...
1,2023-03-23 14:28:06+00:00,1638910494437146624,just depressed enough to tweet,https://twitter.com/w_t__w/status/163891049443...
2,2023-03-20 17:36:52+00:00,1637870838039863324,y’all mind if the sadness lasts forever,https://twitter.com/w_t__w/status/163787083803...
3,2023-03-17 23:38:47+00:00,1636874754647785474,due to personal reasons i will be trying not t...,https://twitter.com/w_t__w/status/163687475464...
4,2023-03-13 23:48:27+00:00,1635427635105808385,"there’s no way life is real, sorry",https://twitter.com/w_t__w/status/163542763510...

In [274]:
tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datetime  17 non-null     datetime64[ns, UTC]
 1   Tweet Id  17 non-null     int64
 2   Text      17 non-null     object
 3   URL       17 non-null     object
dtypes: datetime64[ns, UTC](1), int64(1), object(2)
memory usage: 672.0+ bytes

In [275]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from textblob import TextBlob
from textblob import Word

nltk.download("stopwords")
nltk.download("punkt")
nltk.download("wordnet")
nltk.download("omw-1.4")

def preprocess_text(tweets_df, column_name):
    """
    Preprocesses text data in a given column of a pandas DataFrame.
    """
    # Convert to lowercase
    tweets_df[column_name] =tweets_df[column_name].apply(lambda x: " ".join(x.lower() for x in x.split()))
    # Removing numerical values
    tweets_df[column_name] =tweets_df[column_name].str.replace("\d","")
    # Removing punctations
    tweets_df[column_name] =tweets_df[column_name].str.replace("[^\w\s]","")
    tweets_df[column_name] =tweets_df[column_name].str.replace(r"(\x23.* )+", "")
    tweets_df[column_name] =tweets_df[column_name].str.replace('_', '')
    tweets_df[column_name] =tweets_df[column_name].str.replace('__', '')
    # Removing double space
    tweets_df[column_name] =tweets_df[column_name].str.replace("\s+", " ")
    # Removing user
    tweets_df[column_name] =tweets_df[column_name].str.replace('(@[A-Za-z]+[A-Za-z0-9-_]+)', '') #remove twitted at
    # Removing links
    tweets_df[column_name] =tweets_df[column_name].str.replace('http\S+', '')
    # Removing small words which are less than given condition
    tweets_df[column_name] =tweets_df[column_name].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))
    # STOPWORDS
    sw = stopwords.words("english")
    tweets_df[column_name] =tweets_df[column_name].apply(lambda x: " ".join(x for x in x.split() if x not in sw))
    # Lemmatization (forgot converted into forget)
    tweets_df[column_name] =tweets_df[column_name].apply(lambda x: " ".join([Word(x).lemmatize()]))
    tweets_df[column_name+"_tokens"] = tweets_df[column_name].apply(lambda x: TextBlob(x).words)
    # Frequency Analysis
    tweets_df[column_name+"_frequency"] = tweets_df[column_name].apply(lambda x: len(str(x).split(" ")))
    
    return tweets_df

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [276]:
# apply pre-processing function on'text'
tweets_df = preprocess_text(tweets_df,'Text')
tweets_df.head()

<ipython-input-275-c11ceabc032e>:19: FutureWarning: The default value of regex will change from True to False in a future version.
  tweets_df[column_name] =tweets_df[column_name].str.replace("\d","")
<ipython-input-275-c11ceabc032e>:21: FutureWarning: The default value of regex will change from True to False in a future version.
  tweets_df[column_name] =tweets_df[column_name].str.replace("[^\w\s]","")
<ipython-input-275-c11ceabc032e>:22: FutureWarning: The default value of regex will change from True to False in a future version.
  tweets_df[column_name] =tweets_df[column_name].str.replace(r"(\x23.* )+", "")
<ipython-input-275-c11ceabc032e>:26: FutureWarning: The default value of regex will change from True to False in a future version.
  tweets_df[column_name] =tweets_df[column_name].str.replace("\s+", " ")
<ipython-input-275-c11ceabc032e>:28: FutureWarning: The default value of regex will change from True to False in a future version.
  tweets_df[column_name] =tweets_df[column_name].str.replace('(@[A-Za-z]+[A-Za-z0-9-_]+)', '') #remove twitted at
<ipython-input-275-c11ceabc032e>:30: FutureWarning: The default value of regex will change from True to False in a future version.
  tweets_df[column_name] =tweets_df[column_name].str.replace('http\S+', '')

,Datetime,Tweet Id,Text,URL,Text_tokens,Text_frequency
0,2023-03-30 16:14:22+00:00,1641473954299748354,feels pointless,https://twitter.com/w_t__w/status/164147395429...,"[feels, pointless]",2
1,2023-03-23 14:28:06+00:00,1638910494437146624,depressed enough tweet,https://twitter.com/w_t__w/status/163891049443...,"[depressed, enough, tweet]",3
2,2023-03-20 17:36:52+00:00,1637870838039863324,yall mind sadness lasts forever,https://twitter.com/w_t__w/status/163787083803...,"[yall, mind, sadness, lasts, forever]",5
3,2023-03-17 23:38:47+00:00,1636874754647785474,personal reasons trying think feel,https://twitter.com/w_t__w/status/163687475464...,"[personal, reasons, trying, think, feel]",5
4,2023-03-13 23:48:27+00:00,1635427635105808385,theres life real sorry,https://twitter.com/w_t__w/status/163542763510...,"[theres, life, real, sorry]",4

In [277]:
#Polarization
import nltk
nltk.downloader.download('vader_lexicon')
from nltk.sentiment import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

positive_words_tweet = []
negative_words_tweet = []
neutral_words_tweet = []

positive_sentiment_score = 0
negative_sentiment_score = 0
neutral_sentiment_score = 0

for index, row in tweets_df.iterrows():
    tweet = row['Text']
   
    
    # Sentiment analysis for tweet_text column
    scores_tweet = sia.polarity_scores(tweet)
    tweets_df.at[index, 'tweet_positive_score'] = scores_tweet['pos']
    tweets_df.at[index, 'tweet_negative_score'] = scores_tweet['neg']
    tweets_df.at[index, 'tweet_neutral_score'] = scores_tweet['neu']
    
    if scores_tweet['compound'] > 0.1:
        tweets_df.at[index, 'tweet_sentiment'] = 'positive'
        positive_sentiment_score += 1
        positive_words_tweet.extend(tweet.split())

    elif scores_tweet['compound'] < -0.1:
        tweets_df.at[index, 'tweet_sentiment'] = 'negative'
        negative_sentiment_score += 1
        negative_words_tweet.extend(tweet.split())
        
    else:
        tweets_df.at[index, 'tweet_sentiment'] = 'neutral'
        neutral_sentiment_score += 1
        neutral_words_tweet.extend(tweet.split())

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [278]:
print("Total Positive Sentiment Score:", positive_sentiment_score)
print("Total Negative Sentiment Score:", negative_sentiment_score)
print("Total Neutral Sentiment Score:", neutral_sentiment_score)

Total Positive Sentiment Score: 3
Total Negative Sentiment Score: 5
Total Neutral Sentiment Score: 9

In [279]:
# Preprocessing the bag of words for all sentiments
positive_words_tweet = [word.lower() for word in positive_words_tweet if word.isalpha()]
negative_words_tweet = [word.lower() for word in negative_words_tweet if word.isalpha()]
neutral_words_tweet = [word.lower() for word in neutral_words_tweet if word.isalpha()]

tweets_df.head()

,Datetime,Tweet Id,Text,URL,Text_tokens,Text_frequency,tweet_positive_score,tweet_negative_score,tweet_neutral_score,tweet_sentiment
0,2023-03-30 16:14:22+00:00,1641473954299748354,feels pointless,https://twitter.com/w_t__w/status/164147395429...,"[feels, pointless]",2,0.0,0.000,1.000,neutral
1,2023-03-23 14:28:06+00:00,1638910494437146624,depressed enough tweet,https://twitter.com/w_t__w/status/163891049443...,"[depressed, enough, tweet]",3,0.0,0.623,0.377,negative
2,2023-03-20 17:36:52+00:00,1637870838039863324,yall mind sadness lasts forever,https://twitter.com/w_t__w/status/163787083803...,"[yall, mind, sadness, lasts, forever]",5,0.0,0.420,0.580,negative
3,2023-03-17 23:38:47+00:00,1636874754647785474,personal reasons trying think feel,https://twitter.com/w_t__w/status/163687475464...,"[personal, reasons, trying, think, feel]",5,0.0,0.000,1.000,neutral
4,2023-03-13 23:48:27+00:00,1635427635105808385,theres life real sorry,https://twitter.com/w_t__w/status/163542763510...,"[theres, life, real, sorry]",4,0.0,0.302,0.698,neutral

In [280]:
# Create a new DataFrame with only the negative tweets and their negative scores
negative_df = tweets_df.loc[tweets_df['tweet_sentiment'] == 'negative', ['Text', 'tweet_negative_score']]

# Rename the columns in the new DataFrame
negative_df.columns = ['Negative Tweet', 'Negative Score']

In [281]:
negative_df.head()

                         Negative Tweet  Negative Score
1                depressed enough tweet           0.623
2       yall mind sadness lasts forever           0.420
10                          hurts alive           0.544
11                trying freak freaking           0.851
15  make antidepressant makes depressed           0.524

In [282]:
# Define a function to map the negative scores to categories
def get_depression_level(score):
    if score > 0.65:
        return 'Highly Depressed'
    elif score > 0.3:
        return 'Slightly Depressed'
    else:
        return 'Lightly Depressed'

# Apply the function to the Negative Score column
negative_df['Depression Level'] = negative_df['Negative Score'].apply(get_depression_level)

In [283]:
# Count the number of tweets in each category
depression_count = negative_df['Depression Level'].value_counts()

# Print the results
print("Highly Depressed Tweets: ", depression_count['Highly Depressed'])
print("Slightly Depressed Tweets: ", depression_count['Slightly Depressed'])
#print("Lightly Depressed Tweets: ", depression_count['Lightly Depressed'])

Highly Depressed Tweets:  1
Slightly Depressed Tweets:  4

In [284]:
negative_df.head()

                         Negative Tweet  Negative Score    Depression Level
1                depressed enough tweet           0.623  Slightly Depressed
2       yall mind sadness lasts forever           0.420  Slightly Depressed
10                          hurts alive           0.544  Slightly Depressed
11                trying freak freaking           0.851    Highly Depressed
15  make antidepressant makes depressed           0.524  Slightly Depressed

In [285]:
negative_df.to_csv('new_file_test.csv', index=False)

In [286]:
# Create bag of words matrix
vectorizer = CountVectorizer(stop_words='english')
X = vectorizer.fit_transform(negative_df['Negative Tweet'].values)

In [287]:
# Dimensionality reduction with PCA
pca = PCA(n_components=2, random_state=42)
X_pca = pca.fit_transform(X.toarray())

In [288]:
# Use the trained k-means model to predict the clusters for the test data
test_cluster_labels = kmeans.predict(X_pca)

In [289]:
# Assign the predicted cluster labels to the test data
negative_df['cluster_label'] = test_cluster_labels

In [290]:
# Get indices of tweets in each cluster
test_cluster0_indices = negative_df[(negative_df['cluster_label'] == 0) & (negative_df['Depression Level'] == 'Highly Depressed')].index.tolist()
test_cluster1_indices = negative_df[(negative_df['cluster_label'] == 1) & (negative_df['Depression Level'] == 'Slightly Depressed')].index.tolist()
test_cluster2_indices = negative_df[(negative_df['cluster_label'] == 2) & (negative_df['Depression Level'] == 'Lightly Depressed')].index.tolist()

In [291]:
# Display 10 rows of each cluster with index numbers
print('Test Cluster 0:\n', negative_df.loc[test_cluster0_indices])
print('Test Cluster 1:\n', negative_df.loc[test_cluster1_indices])
print('Test Cluster 2:\n', negative_df.loc[test_cluster2_indices])

Test Cluster 0:
 Empty DataFrame
Columns: [Negative Tweet, Negative Score, Depression Level, cluster_label]
Index: []
Test Cluster 1:
                          Negative Tweet  Negative Score    Depression Level  \
1                depressed enough tweet           0.623  Slightly Depressed
10                          hurts alive           0.544  Slightly Depressed
15  make antidepressant makes depressed           0.524  Slightly Depressed

    cluster_label
1               1
10              1
15              1
Test Cluster 2:
 Empty DataFrame
Columns: [Negative Tweet, Negative Score, Depression Level, cluster_label]
Index: []

In [292]:
# Count the number of tweets in each predicted cluster for the test dataset
test_cluster_counts = negative_df['cluster_label'].value_counts()

# Display the count of each predicted cluster
print('Cluster 0 count (Highly Depressed):', test_cluster_counts[0])
print('Cluster 1 count (Slightly Depressed):', test_cluster_counts[1])
#print('Cluster 2 count (Lightly Depressed):', test_cluster_counts[2])

# Determine which cluster has the highest count
max_cluster = test_cluster_counts.idxmax()

# Assign final label based on the cluster with the highest count
if max_cluster == 0:
    final_label = 'highly depressed'
    fancy_result = 'You are highly depressed. Please seek professional help.'
elif max_cluster == 1:
    final_label = 'slightly depressed'
    fancy_result = 'You are slightly depressed but remember to take care of yourself.'
else:
    final_label = 'lightly depressed'
    fancy_result = 'You are lightly depressed but it is important to acknowledge your feelings and seek support if needed.'

# Assign final label to test tweets
negative_df['final_label'] = final_label
print("")
# Display the first 10 rows of the test dataframe with the final labels
#print(negative_df.head(10))

# Display the fancy result
print(fancy_result)

Cluster 0 count (Highly Depressed): 1
Cluster 1 count (Slightly Depressed): 3

You are slightly depressed but remember to take care of yourself.